/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

html{
    font-size: 16px;
}

/* Header */
h1, h2, h3, h4, h5, h6{
    /* background-color: #57C4F9; */
    font-family: 'Jockey One', sans-serif;
}

a{
    color: #57C4F9;
}

h2{
    font-size: 64px;
}

h3{
    font-size: 42px;
}

h6{
    font-size: 22px;
}


body{
    font-family: 'Roboto', sans-serif;
}

/* Barra frpv */
.nav-frpv{
    background: linear-gradient(280.12deg, #F5F5F5 41.12%, #FFFFFF 100.31%);

    display: flex;
    border-end-end-radius: 36px;
    width: 200px;
    height: 64px;

    transition: 0.2s ease-out;
}

.nav-frpv img{
    justify-content: center;
    margin: auto;
}

/* cabeçalho arrasador */
/* Cover image */
.aq-head{ /* espaço da cover */
    display: block; 
    width: 100%;
    height: 640px;
    overflow: hidden;
    position: relative; /* used to center img */
    border: none;
    border-radius: 0;
}

.aq-head > img{ /* imagem propriamente dita */
    width: 100%;
    position: absolute; /* img centered */
    top:-100%; left:0; right: 0; bottom:-100%;
    margin: auto;
    z-index: -9;
}

/* logo e botoes */
.logos-cover{
    display: flex;
    flex-direction: column; /* empilha os elementos */
}

.logo-aq-header{
    margin: auto; /* alinha */
    margin-top: 2rem; /* margem do topo */
}

.logos-cover a{ /* botao azul do header pra baixar */
    text-decoration: none;
    margin: auto;
    height: 72px;
    width: 540px;
    padding: 4px;
    margin-top: 4rem;
    margin-bottom: -0.5rem;
    background-color: #57C4F9;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /* drop shadow */
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.3);

    transition: 0.2s ease-out;
    
}

.logos-cover a:hover{ /* aumenta o tamanho do botao */
    width: 600px;
}

.logos-cover h3{ /* texto "Baixe já" */
    font-size: 36px;
    margin-right: 36px;
    color: #303030;
    /* text-shadow:
    -2px 0px 1px white,
    2px 0px 1px white,
    0px -2px 1px white,
    0px 2px 1px white; */

    /* text border */
    text-shadow: -2px -2px 0 white,
                0 -2px 0 white,
                2px -2px 0 white,
                2px 0 0 white,
                2px 2px 0 white,
                0 2px 0 white,
                -2px 2px 0 white,
                -2px 0 0 white;
}

.logos-cover .botao-play{
    height: 72px;
    width: auto;
    transition: .2s ease-in-out;
}

.logos-cover a:hover .botao-play{
    transform: rotate(4deg);
    height: 92px;
}


/* Corpo de conteúdo */
.content p{
    font-size: 24px;
}

.content{
    width: 80%;
    margin: auto;
}

.bloco-historia{
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 64px 0;
}

.bloco-historia div{
    max-width: 43%;
}

.bloco-historia div img{
    width: 184px;
}

.bloco-historia img{
    width: 55%;
}

.final-historia{
    margin-top: -56px;
    line-height: 1.1;
    margin-bottom: 64px;
}

/* Videos */
.video-text{
    margin-bottom: 160px;
}

.video-text h2{
    -webkit-text-stroke-width: 12px;
    -webkit-text-stroke-color: #FFF;
    paint-order: stroke fill;


    position: absolute;
    z-index: 1;

    line-height: 1;
}

.video-text video{
    position: relative;
    z-index: 0;
    margin-top: 30px;
}

.content .logos-cover{
    margin-top: -100px;
    margin-bottom: 100px;
}


/* Projeto */
.projeto{
    margin-bottom: 56px;
}

.barra-cinza{
    display: block;
    width: 100%;
    height: 14px;
    background: #303030;
}

.subtitulo-projeto{
    display: flex;
    justify-content: start;

    margin-top: 56px;
    margin-bottom: 28px;
}

.subtitulo-projeto .left{
    width: 52px;
    margin-right: 16px;
    transform: rotate(-15deg);
    margin-top: 10px;
}

.subtitulo-projeto .right{
    width: 52px;
    margin-left: 16px;
    transform: rotate(15deg);
    margin-top: 10px;
}

.projeto-texto{
    width: 65%;
    margin: 0 auto 36px 0;
}

.projeto > img{
    margin-bottom: 96px;
}

.feedback-txt{
    margin-top: 32px;
}

.creditos h2{
    font-size: 34px;
}

.creditos p{
    font-size: 18px;
    margin-bottom: 8px;
}

.creditos .subtitulo-projeto img{
    width: 32px;
}





/* Footer */
footer{
    margin-top: 3rem;
    font-weight: 300;
}

.maq-footer{
    display: block;
    margin: auto;
}

footer section{
    background-color: #57C4F9;
    margin-top: -32px;
    text-align: center;
    padding: 5rem 0 3rem 0;
}

footer section > div{
    margin-top: 26px;
}

.contato{
    line-height: 130%;
}

.contato a{
    color: black;
}

.github{
    padding-top: 10px;
}

.github a{
    color: black;
}

.termos-legais{
    font-size: 12px;
    line-height: 160%;
}






/* publi do repraça */
.repraca{
    width: 90%;
    margin: auto;

    /* Degradê bege */
    background: linear-gradient(136.27deg, rgba(255, 255, 255, 0.95) 17.49%, rgba(254, 242, 224, 0.95) 103.91%), #B76F51;
    border-radius: 36px;

    padding: 64px;
    display: flex;
    justify-content: space-between;

    margin-top: 146px;
    margin-bottom: -55px;
}

.repraca > div{
    max-width: 600px;
}

.repraca h2, .repraca p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.repraca h2{
    font-size: 32px;
}

.repraca .h-destaque{
    font-weight: 400;
    margin-top: 2px;
    margin-bottom: 18px;
}

.repraca p{
    font-size: 24px;
    margin-bottom: 50px;
    line-height: 32px;
}

.repraca a{
    font-size: 32px;
    font-weight: 400;
    color: #F9EFE7;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 364px;
    height: 72px;

    background: linear-gradient(170deg, rgba(10, 110, 182, 0.7) 31.41%, rgba(10, 110, 182, 0.7) 44.7%, rgba(19, 28, 59, 0.7) 102.06%), linear-gradient(151.35deg, rgba(249, 239, 231, 0.7) 12.97%, rgba(183, 111, 81, 0.7) 100%), #131C3B;
    border-radius: 40px;

    transition: 0.2s ease-in-out;
}

.repraca a:hover{
    width: 380px;
}

.repraca a:hover img{
    transform: rotate(-6deg);
    width: 98px;
    margin-right: -40px;
    height: auto;
}

.repraca a img{
    margin-left: 30px;
    margin-right: -30px;
    transition: .2s ease-in-out;
}

.repraca > img{
    margin: auto;
}

.repraca .logo-prints{
    max-width: 500px;
    width: 43%;
}

.repraca .print-1{
    display: block;
    margin-left: auto;

    transform: rotate(2.856deg);
    border-radius: 14px;
    border: 7px solid #FFF; 
}

.repraca .print-2{
    display: block;
    margin-left: 20%;
    margin-top: -2%;

    transform: rotate(-3.21deg);
    border-radius: 14px;
    border: 7px solid #FFF;
}

.repraca .logo-aq{
    display: block;
    margin-right: auto;

    margin-top: -55%;
    width: 45%;
    position: relative;
    z-index: 99;
}



/* Mobile */
@media screen and (max-width: 760px) {

    h2{
        font-size: 48x;
        line-height: 1;
    }

    h3{
        font-size: 32px;
    }

    .content p{
        font-size: 20px;
    }





    .aq-head{
        height: 650px;
    }

    .nav-frpv{
        height: 64px;
        width: 180px;

    }

    .nav-frpv img{
        width: 80px;
    }

    .aq-head > img{
        height: 100%;
    }

    .logo-aq-header{
        margin-top: 4.5rem;
        width: 75%;
        max-height: 300px;
    }

    .logos-cover a{
        width: 200px;
        height: auto;
        margin-top: 3.5rem;
        padding: 10px 12px;
        border-radius: 20px;

        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logos-cover a:hover{
        width: 220px;
    }

    .logos-cover h3{
        font-size: 32px;
        margin-right: 0;
    }

    .logos-cover .botao-play{
        height: auto;
        width: 100%;
    }

    .logos-cover a:hover .botao-play{
        height: auto;
        transform: rotate(0deg);
    }








    /* Corpo de conteúdo */


    .content{
        width: 90%;
        margin: auto;
    }

    .bloco-historia{
        flex-direction: column;

        margin: 92px 0;
    }

    .bloco-historia div{
        max-width: 90%;
        margin-left: 0;
        margin-right: auto;
        margin-bottom: 24px;
    }

    .bloco-historia div img{
        width: 140px;
    }

    .bloco-historia img{
        width: 100%;
    }

    .final-historia{
        margin-top: -90px;
        margin-bottom: 56px;
    }

    /* Videos */
    .video-text{
        margin-bottom: 100px;
    }

    .content .logos-cover{
        margin-top: -50px;

    }


    /* Projeto */
    .barra-cinza{
        height: 8px;
    }

    .projeto-texto{
        width: 100%;
    }




    /* repraca */
    .repraca{
        width: 100%;
        padding: 60px 30px;
        flex-direction: column-reverse;
    }

    .repraca a{
        width: 100%;
        height: 54px;
        margin: auto;
        font-size: 24px;
    }

    .repraca a:hover{
        width: 100%;
    }

    .repraca a:hover img{
        width: 72px;
    }
    
    .repraca a img{
        width: 60px;
    }

    .repraca h2{
        font-size: 25px;
    }

    .repraca p{
        font-size: 20px;
        line-height: auto;
    }

    .repraca > img{
        margin-bottom: 40px;
        width: 50%;
    }

    .repraca .logo-prints{
        width: 100%;
        margin-bottom: 40px;
        max-width: 100%;
    }
    
    .repraca .print-1{
        width: 80%;
        margin: auto 0 auto auto;
    }
    
    .repraca .print-2{
        width: 70%;
        margin-right: auto;
        margin-top: -6%;
        margin-left: 0;
    }
    
    .repraca .logo-aq{
        margin-left: auto;
        margin-right: 0;
        margin-top: -30%;
        width: 40%;

    }


    /* rodapé */
    .termos-legais{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}